@{
    <h1>@ViewBag.Title</h1>
}
<link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/album/">
<link rel="stylesheet" type="text/css" href="@Url.Content("~/lib/bootstrap/dist/css/bootstrap.css")" media="screen" />

<body>
    <!-- <link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet"> Section-->
    <section class="py-5">
        <div class="row gx-4 gx-lg-5 row-cols-6 row-cols-md-3 row-cols-xl-5">
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Sale badge-->
                    <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                    <!-- Product image-->
                    <img class="card-img-top" height="200" src="https://content1.rozetka.com.ua/goods/images/big/251607378.jpg" />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">Lenovo IdeaPad Gaming 3 15IMH05 </h5>
                            <!-- Product price-->
                            <span class="text-muted text-decoration-line-through">$250.00</span>
                            $150.99
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="?City=abs">Add to cart</a></div>
                    </div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Sale badge-->
                    <div class="badge bg-dark text-white position-absolute">Sale</div>
                    <!-- Product image-->
                    <img class="card-img-top" height="200" src="https://content1.rozetka.com.ua/goods/images/big/253177931.jpg" />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">ASUS TUF Gaming F15 FX506LH-HN042</h5>
                            <!-- Product price-->
                            $250.00
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a></div>
                    </div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Sale badge-->
                    <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                    <!-- Product image-->
                    <img class="card-img-top" height="200" src="https://content2.rozetka.com.ua/goods/images/big/245749191.jpg" />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">Acer Nitro 5 AN517-54-55QP</h5>
                            <!-- Product price-->
                            <span class="text-muted text-decoration-line-through">$300.00</span>
                            $279.99
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

